:root {
    --verde: #0FA7A1;
    --preto: #000;
    --cinza-59: #595959;
    --branco: #fff;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-menu .menu-logo {
    max-width: 312px;
    max-height: 60px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.nav-menu .menu-itens .menu {
    list-style: none;
}

.main {
    display: flex;
    max-width: 1440px;
    margin-top: 56px
}

.bloco-veja-mais {
    width: 100px;
    display: flex;
    align-items: center;
}

.bloco-veja-mais .veja-mais {
    font-size: 16px;
    writing-mode: vertical-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    margin: auto;
    color: var(--verde);
    cursor: pointer;
}

.bloco-veja-mais .veja-mais::before {
    content: '\2190';
    transition: 0.3s;
}

.bloco-veja-mais .veja-mais:hover::before {
    padding-bottom: 5px;
    transition: 0.3s;
}

.historia-destaque {
    display: flex;
    width: calc(100% - 100px);
}

.historia-destaque .historia-texto {
    width: 50%;
}

.historia-destaque .historia-texto .historia-categoria .categoria {
    color: var(--verde);
    margin-bottom: 20px;
}

.historia-destaque .historia-texto .historia-titulo .titulo {
    font-size: 48px;
    color: var(--cinza-59);
    max-width: 492px;
}

.historia-destaque .historia-texto .historia-btn {
    display: flex;
    background-color: var(--verde);
    border: 1px solid var(--verde);
    width: 190px;
    cursor: pointer;
    transition: all .3s;
}

.historia-destaque .historia-texto .historia-btn:hover {
    background-color: var(--branco);
    border: 1px solid var(--verde);
    transition: all .3s;
}

.historia-destaque .historia-texto .historia-btn .btn-icon {
    background-image: url(../../images/btn-icon.png);
    background-color: var(--verde);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    width: 52px;
    height: 44px;
    border-right: 1px solid var(--branco);
}

.historia-destaque .historia-texto .historia-btn .btn-content {
    width: 100%;
    text-align: center;
    align-self: center;
    color: var(--branco);
    font-size: 16px;
    transition: all .3s;    
}

.historia-destaque .historia-texto .historia-btn:hover .btn-content {
    color: var(--verde);
    transition: all .3s;
}

.historia-destaque .historia-img {
    width: 50%;
}


